NODE_ENV=development
LOG_LEVEL=info

GATEWAY_PORT=3000
AUTH_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
PRODUCT_SERVICE_PORT=8083
INVENTORY_SERVICE_PORT=8084
CART_SERVICE_PORT=8085
ORDER_SERVICE_PORT=8086
PAYMENT_SERVICE_PORT=8087
SHIPPING_SERVICE_PORT=8088
REVIEW_SERVICE_PORT=8089
NOTIFICATION_SERVICE_PORT=8090
SEARCH_SERVICE_PORT=8091
RECOMMENDATION_SERVICE_PORT=8092
ANALYTICS_SERVICE_PORT=8093

JWT_ACCESS_SECRET=dev-jwt-secret
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=300

RABBITMQ_DEFAULT_USER=ecom
RABBITMQ_DEFAULT_PASS=ecom123

POSTGRES_DB=ecommerce
POSTGRES_USER=ecom
POSTGRES_PASSWORD=ecom123

MONGO_ROOT_USER=ecom
MONGO_ROOT_PASSWORD=ecom123

NEO4J_AUTH=neo4j/ecom12345

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

VAULT_ROOT_TOKEN=root

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
